.registration-form {
  width: 50%;
  margin: auto;
}

.registration-form__label {
  display: flex;
  margin-bottom: 10px;
}

.registration-form__input-title {
  flex-basis: 110px;
}

.registration-form__field {
  flex-grow: 1;
  padding: 5px;
}

.msg {
  padding-left: 5px;
  flex-basis: 200px;
}

.registration-form__btn-container {
  text-align: center;
}

.registration-form__btn {
  line-height: 30px;
  padding: 0 20px 0;
  background-color: #c00000;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}

.registration-form__btn:hover {
  background-color: #840000
}

.registration-form__btn--submit {
  background-color: #00aa00;
}

.registration-form__btn--submit:hover {
  background-color: #006b00;
}

@media screen and (max-width: 980px) {
  .registration-form {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .registration-form__label {
    flex-wrap: wrap;
  }

  .registration-form__input-title {
    flex-basis: 100%;
  }
}


